


<div class="form-container">
    <mat-card>
      <div class="form-heading">
      <div class="back-button">
        <button mat-icon-button color="primary" (click)="router.navigate(['/'])">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <mat-card-title>{{ eventId ? 'Edit Event' : 'Add Event' }}</mat-card-title>
      </div>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput type="date" formControlName="date" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>ImageURL</mat-label>
          <input matInput formControlName="image" />
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Save</button>
          <button mat-button type="button" (click)="router.navigate(['/'])">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>
  